.MessageForm {
  width: auto;
  min-height: 40px;
  display: flex;
  justify-content: center;
}
.Message-author {
  width: 20%;
  height: 40px;
}
.Message-input {
  width: 50%;
  height: 40px;
}
.Message-btn {
  width: 20%;
  height: 40px;
}
